

<style>
/* This gets Google to fall into place */
.social {
	font-size: 1px;
}

/* This gets Facebook to fall into place */
.social iframe {
	text-align: center;
	vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social span {
	display: inline-block;
	width: 110px;
}

/* Adjust the widths individually if you like */
.social .Facebook {
	width: 75px;
}
.social .twitter {
	width: 85px;
}
.social .google {
	width: 75px;
}

</style>



<div class="social">

	<span class="Facebook">
		<iframe src="https://www.facebook.com/plugins/like.php?href={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;show_faces=false&amp;layout=button" scrolling="no" frameborder="0" style="height: 21px; width: 100px" allowTransparency="true"></iframe>
	</span>



	<span class="twitter">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-via="thisisweina">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</span>
	<span class="google">
		<!-- 将此标记放置在 head 中，或放置在结束 body 标记之前，并使其紧邻此标记。 -->
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<!-- 将此标记放置在你希望显示分享按钮的位置。 -->
		<div class="g-plus" data-action="share" data-annotation="none" data-height="24" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" ></div>
	</span>

</div>
